.announcement-wrapper {
  width: 100%;
  background: #37013a;
  padding: 10px 0;
  overflow: hidden;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.announcement-slider {
  display: flex;
  animation: scroll 15s linear infinite;
  gap: 50px;
}

.announcement-item {
  white-space: nowrap;
  padding: 0 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.announcement-item:hover {
  transform: scale(1.1) rotate(-2deg);
  color: #00adb5;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
